<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilincar.radar"
    android:installLocation="auto"
    
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

<!--     <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true" >
        <activity
            android:name="com.ilincar.radar.RadarActivity"
            android:allowTaskReparenting="false"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:persistent="true"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--         <receiver -->
<!--             android:name="com.ilincar.radar.BootBroadcast" -->
<!--             android:permission="android.permission.RECEIVE_BOOT_COMPLETED" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
<!--             </intent-filter> -->
<!--         </receiver> -->
<!--         <receiver -->
<!--             android:name="com.ilincar.radar.Alarmreceiver" -->
<!--             android:exported="false" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="ilincar.radarservice.startup.action" /> -->
<!--             </intent-filter> -->
<!--         </receiver> -->
        
		<service android:name="com.ilincar.radar.RadarService" />
        <service android:name="com.ilincar.radar.SerialPortService" />
    </application>

</manifest>